extends base


block content 
    main.main 
        .over    
            .over__title                                       
                h1.highlight-container
                    span.highlight Did you know??
                           
                h4 There are Monk Parakeet and Fiddle Crabs in New York City            
                img(src='img/hero.png',class='over__img',alt='Minimalist bird items')  
                       
                img(src='img/Fiddler-Crabs.jpg' ,alt='Minimalist crab items') 
            